* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* =1rem */
    font-family: 'Roboto', sans-serif;
}

.section_header {
    padding-top: 50px;
    background: #EEEFF1;
}

.container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    max-width: 612px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.nav-link:hover {
    color: #34547A;
    filter: drop-shadow(0 0 10px rgb(15, 22, 36));
}

.section_desing {
    padding-top: 160px;
    padding-bottom: 150px;
    background: #EEEFF1;
}

.notebook {
    margin-left: 70px;
}

.desing_info {
    width: 541px;
}

.title_desing {
    font-size: 48px;
    line-height: 79px;  
    color: #000000;
    margin-bottom: 45px;
}

.p_desc {
    font-size: 16px;
    line-height: 26px;
    color: #727272; 
    margin-bottom: 45px;
}

.button {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 41px;
    color: #FFFFFF;
    background: #34547A;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: #223852;
    filter: drop-shadow(0 0 10px rgb(62, 79, 112));
}

.button_primary {
    letter-spacing: 0.1em;
}

.button_secondary {
    letter-spacing: 0.15em;
}

.buttons {
    display: flex;
    justify-content: center;
}

.section_about {
    padding-top: 110px;
    padding-bottom: 70px;
}

.block_about, .block_pictures {
    display: flex;
    justify-content: center;
}

.i_info {
    width: 541px;
    text-align: center;
}

.title_info {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 40px;
}

.section_projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #34547A;
}

.block_projects {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0;
}

.project_img {
    padding-right: 20px;
}

.project {
    color: #FFFFFF;
    padding-right: 50px;
}

.h_proj {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.last {
    padding: 0;
}

.section_skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills_info {
    padding-top: 50px;
}

.skills_list {
    margin-right: 150px;
}

.men_img {
    width: 555px;
    height: 450px;
}

.line {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 445px;
    height: 4px;
    background: linear-gradient(to right,#34547A 75%,
    #C4C4C4 25%)
}

.desc_skills {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.section_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video {
    display: flex;
    margin-top: -3px;
    width: 1100px;
    height: 600px;
    background-image: url('../img/video.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.video_play {
    margin: auto;
    width: 100px;
    height: 100px;  
}

.section_pictures {
    max-width: 1920px;
    width: 100%;
    padding-top: 28px;
}

.container_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic {
    width: 100%;
    height: 100%;
}

.link-img {
    position: relative;
    width: 25%; 
} 

.link-img:hover::before {
    content:"";
    position: absolute;
    background: rgba(52, 84, 122, 0.8) url('../img/glazik.png') no-repeat center;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: index 500;
}

.section_microsoft {
    padding-top: 70px;
    padding-bottom: 100px;
}

.img_microsoft {
    margin-right: 30px;
}

.last-mic {
    margin-right: 0;
}

.section_sending {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #EEEFF1;
}

.sending_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input--half {
    width: 255px;
    height: 50px;
    padding-left:20px;
    border:none;
    outline: none;
}

.input--message {
    min-height: 175px;
    margin-bottom: 50px;
    padding-bottom: 143px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    outline: none;
    resize: none;
    font-family: roboto, sans-serif;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section_footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #34547A;
}

.footer_info {
    color: #FFFFFF;
}

.footer_title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.footer_desc {
    margin-top: 18px;
    font-size: 13px;
    line-height: 21px;
}

.vk-links {
    margin-right: 20px;
}

/* адаптация */

@media (max-width: 1196px) {
    .header_block {
        width: 90%;
    }
}

@media (max-width: 1180px) {
    .men_img {
        width: 95%;
        height: 95%;
    }
}

@media (max-width: 1100px) {
    .block_photo {
        display: flex;
        justify-content: center;
    }
    .last-mic {
        display: none;
    }
    .button {
        padding: 23px 38px;
        font-size: 14px;
    }
}


@media (max-width: 1124px) {
    .skills_block{
        width: 90%;
    }
    .video {
        width: 90%;
    }
    .container_pictures {
        width: 100%;
    }
    .section_footer .block {
        justify-content: space-around;
    }
}

@media (max-width: 1084px) {
    .project_6 {
        display: none;
    }
    .men_img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 982px) {
    .section_desing {
        padding-top: 130px;
        padding-bottom: 130px;
    }
    .notebook {
        width: 35%;
        margin-left: 20px;
    }
    .project_1 {
        margin-left: 50px;
    }
    .skills_list {
        margin-right: 100px;
    }
    .skills_info {
        padding-top: 0;
    }
    .project_5 {
        display: none;
    }
}

@media (max-width: 982px) {
    .notebook {
        width: 30%;
    }
    .desing_info {
        width: 55%;
    }
    .button {
        padding: 20px 35px;
        font-size: 12px;
    }
    .skills__info {
        width: 50%;
    }
    .skills_list {
        margin-right: 60px;
    }
    .line {
        width: 400px;
        margin-top: 0;
    }
    .video_play {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 832px) {
    .section_microsoft {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .microsoft_1 {
        display: none;
    }
}

@media (max-width: 812px) {
    .logo_img {
        margin-right: 15px;
    }
    .section_desing {
        padding-top: 90px;
        padding-bottom: 50px;
    }
    .section_desing .block {
        justify-content: space-around;
    }
    .title_desing {
        font-size: 40px;
        line-height: 68px;
        margin-bottom: 20px;
    }
    .notebook {
        margin-bottom: 10px;
    }
    .block_desing {
        display: flex;
        flex-direction: column;
    }
    .desing_info {
        text-align: center;
    }
    .project_4 {
        display: none;
    }
    .men_img {
        display: none;
    }
    .section_skills {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section_skills .block {
        justify-content: center;
    }
    .video {
        width: 80%;
    }
    .video_play {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 644px) {
    .section_header .block {
        align-items: center;
        flex-direction: column;
    }
    .section_header {
        padding-top: 20px;
    }
    .navigation {
        margin-top: 10px;
    }
    .section_desing {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .title_desing {
        font-size: 38px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .section_about {
        padding-top: 70px;
        padding-bottom: 55px;
    }
    .section_skills {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section_video {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    .video {
        width: 50%;
        height: 350px;
    }
    .video_play {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 620px) {
    .navigation {
        flex-wrap: wrap;
    }
    .container {
        width: 75%;
    }
    .title_desing {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 5px;
    }
    .button {
        padding: 18px 32px;
        font-size: 10px;
    }
    .section_about {
        padding-top: 55px;
        padding-bottom: 30px;
    }
    .title_info {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .p_desc {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 40px;
    }
    .section_projects {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .input--half {
        width: 230px;
        height: 45px;
    }
    .vk_1 {
        display: none;
    }
    .project_3 {
        display: none;
    }
    .section_microsoft {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .img_microsoft {
        margin-right: 10px;
    }
    .microsoft_2 {
        display: none;
    }
    .i_info {
        width: 90%;
    }
    .section_video .i_info{
        width: 80%;
    }
    .input-group {
        flex-direction: column;
    }
    .input--half {
        width: 300px;
        height: 41px; 
    }
    .input_name {
        margin-bottom: 10px;
    }
    .input--message {
        min-height: 130px;
        padding-bottom: 0;
    }
    .footer_title {
        font-size: 16px;
        line-height: 20px;
    }
    .footer_desc {
        margin-top: 5px;
        font-size: 10px;
        line-height: 18px;
    }
}

@media (max-width: 460px) {
    .nav-link {
        margin-right: 10px;
    }
    .section_skills .block {
        justify-content: flex-start;
    }
    .skills_info {
        width: 60%;
    }
    .line {
        width: 200px;
    }
}

@media (max-width: 375px) {
    .input--half {
        width: 200px; 
    }
}







