@font-face {
    font-family: Post No Bills Jaffna SemiBold;
    src: url(../fons/PostNoBillsJaffna-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Raleway;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #242B33;
}

header {
    position: relative;
    z-index: 9999;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_block {
    margin-top: 30px;
}

.logo_link {
    font-family: Post No Bills Jaffna SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    text-decoration: none;
}

.logo_link:hover {
    color: #D4C17F;
    transition-duration: 500ms;
}

.logo_sub {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: white;
}

.navigation__header {
    display: flex;
    justify-content: space-between;
    width: 541px;
}

.nav_link {
    text-decoration: none;
    color: white;
}

.nav_link:hover {
    color: #D4C17F;
    text-decoration: underline;
    transition-duration: all 500ms;
}

/* Promo */
.section__promo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/header.png) no-repeat center / cover;
    z-index: 999;
}

.container__promo {
    max-width: 585px;
    width: 100%;
}

.promo_title {
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    text-align: center;  
    padding-bottom: 50px;
    margin-top: 300px;
    color: #D4C17F;
}

.promo_mouse {
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
    background: url(../img/mouse.png) no-repeat center;
}

.promo_cont {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.place {
    position: relative;
    right: 32px;
    padding-left: 35px;
    background: url(../img/placeholder.png) no-repeat;
}

.phone {
    position: relative;
    right: 45px;
    padding-left: 35px;
    background: url(../img/phone.png) no-repeat;
}

/* Testimonials */
.section__testimonials {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container_testimonials {
    max-width: 794px;
    width: 100%;
    margin: auto;
}

.rec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.rec_img {
    width: 80px;
    height: 80px;
    margin-bottom: 53px;
}

.rec_info {
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.info_1 {
    width: 193px;
}

/* Appartments */
.title {
    font-family: Playfair Display;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    text-align: left;
}

.block_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 100px;
}

.card {
    width: 535px;
    height: 320px;
    margin-bottom: 35px;
}

.card_1 {
    background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%), url(../img/appartment_1.png);
}

.card_2 {
    background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0) 0.01%, #242B33 100%), url(../img/appartment_2.png);
}

.card_text {
    font-size: 24px;
    line-height: 28px;
    margin-left: 50px;
    margin-top: 250px;
}

/* Connection */
.section__connection {
    padding-top: 180px;
    padding-bottom: 180px;
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/con_fon.png) center / cover;
}

.connection {
    width: 535px;
}

.con_desc {
    line-height: 24px;
    margin-top: 50px;
}

.form {
    display: flex;
    width: 540px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}

.input_name, .input_phone {
    width: 255px;
    height: 50px;
    text-align: center;
    color: #413737;
    opacity: 0.2;
}

.input_name {
    margin-right: 30px;
    margin-bottom: 35px;
}

.note {
    width: 255px;
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
    margin-top: 10px;
    margin-right: 30px;
}

.note_ques {
    text-align: center;
}

.button {
    width: 254px;
    height: 49px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    background: #D4C17F;
    border: none;
    color: white;
    cursor: pointer;
}

.button:hover {
    background: #cfc8b5;
    color: rgb(0, 0, 0);
    transition-duration: all 1s;
}

/* Video */
.section__video {
    padding-bottom: 180px;
}

.container__video {
    display: flex;
    width: 719px;
    height: 650px;
    background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8)), url(../img/video.png) center / cover;
    margin: auto;
}

.video_play {
    width: 100px;
    height: 100px;
    margin: auto;
    cursor: pointer;
}

/* Map */
.map {
    margin-top: 100px;
    margin-bottom: 180px;
}

/* Questions */
.section__questions {
    margin-bottom: 180px;
}

.title_ques {
    margin-bottom: 50px;
}

.name_questions {
    margin-right: 0;
    margin-bottom: 0;
}

/* Footer */
.section__footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2D343C;
}

.block_footer {
    align-items: unset;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link_footer {
    margin-bottom: 15px;
    cursor: pointer;
}

.link_footer:hover {
    color: tomato;
    text-decoration: underline;
    transition-duration: all 500ms;
}

.span {
    color: #D4C17F;
}

.span:hover {
    color: tomato;
    text-decoration: underline;
    transition-duration: all 500ms;
}

.social_link {
    margin-right: 10px;
    text-decoration: none;
}

/* Адаптация */

@media (max-width: 1113px) {
    .container {
        max-width: 900px;
    } 
    .block_cards {
        justify-content: space-around;
    }
    .card {
        width: 400px;
        height: 280px;
    }
    .con_desc {
        width: 400px;
    }
    .form {
        width: 560px;
    }   
    .input_name {
        margin-right: 5px;
        margin-bottom: 15px;
    }
    .input_name, .input_phone {
        width: 210px;
    }
    .note {
        width: 210px;
        margin-right: 5px;
        margin-top: 5px;
    }
    .button {
        width: 210px;
    } 
    .name_questions {
        margin-bottom: 0;    
    }
}

@media (max-width: 900px) {
    .container {
        max-width: 700px;
    }
    .navigation__header {
        width: 500px;
    }
    .logo_block {
        margin-right: 20px;
    }
    .block_cards {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .card {
        margin-bottom: 50px;
    }
    .con_desc {
        margin-top: 40px;
        margin-right: 30px;
    }
    .form {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .input_name, .input_phone, .button {
        height: 40px;
    }
    .button {
        margin-top: 10px;
        font-size: 15px;
        text-align: center;
    }
    .note {
        text-align: justify;
    }
    .container__video {
        width: 670px;
        height: 600px;
    }
    .video_play {
        width: 80px;
        height: 80px;
    }
    .note_ques {
        text-align: center;
    }
    .button_questions {
        margin-top: 0;
        height: 38px;
    }
    .input_phone {
        margin-right: 5px;
    }
}

@media (max-width: 670px) {
    .container {
        max-width: 600px;
    }
    .logo_block {
        display: none;
    }
    .navigation__header {
        width: 500px;
        margin-left: 50px;
    }
    .container__promo {
        max-width: 560px;
    }
    .promo_cont {
        justify-content: space-around;
    }
    .section__testimonials {
        padding-top: 90px;
        padding-bottom: 100px;
    }
    .rec {
        width: 30%;
    }
    .rec_img {
        width: 70px;
        height: 70px;
        margin-bottom: 40px;
    }
    .rec_info {
        font-size: 19px;
    }
    .info_1 {
        width: 160px;
    }
    .con_block{
        display: flex;
        flex-direction: column;
    }
    .form {
        margin-left: 30px;
        margin-top: 40px;
    }
    .container__video {
        width: 400px;
        height: 300px;
    }
    .video_play {
        width: 40px;
        height: 40px;
    }
    .section__video {
        padding-bottom: 100px;
    }
    .block_form {
        flex-direction: column;
    }
    .note_ques {
        margin-bottom: 5px;
    }
    .name_questions {
        margin-bottom: 10px;
    }
    .phone_ques {
        margin-bottom: 10px;
    }
    .section__questions {
        margin-bottom: 100px;
    }
}

@media (max-width: 590px) {
    .container {
        max-width: 500px;
    }
    .section__connection {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .promo_title {
        font-size: 40px;
        line-height: 60px;
    }
    .promo_cont {
        flex-direction: column;
        align-items: center;
    }
    .place, .phone {
        right: 0;
    }
    .place {
        margin-bottom: 10px;
    }
    .section__testimonials {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .block_testimonials {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container_testimonials {
        max-width: 320px;
    }
    .rec {
        width: 50%;
        margin-bottom: 30px;
    }
    .card {
        width: 350px;
        height: 230px;
        margin-bottom: 100px;
    }
    .card_text {
        margin-top: 210px;
        font-size: 21px;
        line-height: 25px;
    }
    .section__connection {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .connection {
        width: 400px;
    }    
    .con_block {
        align-items: normal;
    }
    .form {
        width: 300px;
        margin-left: 0;
    }
    .map {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 400px;
    }
    .navigation__header {
        width: 400px;
    }
    .navigation__header {
        margin-left: 0;
    }
    .container__promo {
        max-width: 400px;
    }
    .promo_title {
        margin-top: 200px;
    }
    .promo_cont {
        margin-top: 100px; 
    }
    
    .nav_footer_1 {
        display: none;
    }
}

@media (max-width: 375px) {
    .container {
        width: 300px;
    }
    .header_block {
        justify-content: center;
    }
    .navigation__header {
        width: 250px;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .con_desc {
        width: 300px;
        margin-right: 0;
    }
    .link-1 {
        display: none;
    }
    .promo_title {
        margin-top: 170px;
        font-size: 35px;
        line-height: 60px;
    }
    .title {
        width: 300px;
    }
    .container__video {
        width: 300px;
        height: 250px;
    }
    .card {
        width: 300px;
        height: 200px;
        margin-bottom: 50px;
    }
    .block_cards {
        margin-top: 50px;
    }
    .card_text {
        margin-top: 140px; 
    }
    .connection {
        width: 300px;
    }
    .nav_footer {
        display: none;
    }
    .block_footer {
        justify-content: space-around;
    }
}







